body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../app-assets/img/logos/ahisa/ahisa.png'); /* Adding an image gives a different touch when logging in*/
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  animation: drift 20s ease infinite alternate;
}

@keyframes drift {
  0% {
    transform: translate(-2%, -2%);
  }
  50% {
    transform: translate(2%, 2%);
  }
  100% {
    transform: translate(-2%, -2%);
  }
}

.login-container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  animation: pulse 1.5s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4);
  }
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h2 {
  color: #61dafb;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.login-header span {
  color: #3a9bd9;
}

.login-header p {
  font-size: 14px;
  opacity: 0.7;
}

/* ************************** */
.background_ecose {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-image: url('../../app-assets/img/logos/ecose/logo2.png');*/ /* Adding an image gives a different touch when logging in*/
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  animation: drift 20s ease infinite alternate;
}

.login-header_ecose {
  text-align: center;
  margin-bottom: 20px;
}

.login-header_ecose h2 {
  color: #84E889;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.login-header_ecose{
  color: #0ad113;
}

.login-header_ecose p {
  font-size: 14px;
  opacity: 0.7;
}

.button_ecose {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #0ad113, #84E889);
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
}

.button_ecose:hover {
  background: linear-gradient(to right, #84E889, #0ad113);
}

.input-group_ecose {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group_ecose i {
  margin-right: 10px;
  color: #0ad113;
}

/* ****************************** */

/* ************************** */
.background_ahisa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-image: url('../../app-assets/img/logos/ahisa/ahisa.png');*/ /* Adding an image gives a different touch when logging in*/
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  animation: drift 20s ease infinite alternate;
}

.login-header_ahisa {
  text-align: center;
  margin-bottom: 20px;
}

.login-header_ahisa h2 {
  color: #E86300;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.login-header_ahisa{
  color: #ec8232;
}

.login-header_ahisa p {
  font-size: 14px;
  opacity: 0.7;
}

.button_ahisa {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #E86300, #ec8232);
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
}

.button_ahisa:hover {
  background: linear-gradient(to right, #ec8232, #E86300);
}

.input-group_ahisa {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group_ahisa i {
  margin-right: 10px;
  color: #E86300;
}
/* ****************************** */

/* ************************** */
.background_auven {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-image: url('../../app-assets/img/logos/auven/logo.png');*/ /* Adding an image gives a different touch when logging in*/
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  animation: drift 20s ease infinite alternate;
}

.login-header_auven {
  text-align: center;
  margin-bottom: 20px;
}

.login-header_auven h2 {
  color: #3a608d;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.login-header_auven{
  color: #6c88a9;
}

.login-header_auven p {
  font-size: 14px;
  opacity: 0.7;
}

.button_auven {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #3a608d, #6c88a9);
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
}

.button_auven:hover {
  background: linear-gradient(to right, #6c88a9, #3a608d);
}

.input-group_auven {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group_auven i {
  margin-right: 10px;
  color: #0a3971;
}
/* ******************************* */


.input-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group i {
  margin-right: 10px;
  color: #0ad113;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.forgot-password {
  color: #61dafb;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.7;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #3a9bd9, #61dafb);
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(to right, #61dafb, #3a9bd9);
}


.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.7;
}

.signup-link a {
  color: #61dafb;
  text-decoration: none;
}

.login-container {
  animation: pulse 1.5s infinite alternate;
}

.login-container.no-animation {
  animation: none;
}